*{
  margin: 0;
  padding: 0;
  box-shadow: border-box;
}
body{
  background-color:lightcoral;
}
.flexSB{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container{
  max-width: 90%;
  margin: auto;
}
button{
  background-color: pink;
  outline: none;
  color:green;
  padding: 8px 20px;
  cursor: pointer;
  font-weight: 500px;
  font-size: 12px;
}